h1 {
  background-color: black;
  color: #fff8e7;
}
body {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 50vh;
  background: #222;
  color: white;
  font-size: 2rem;
}

span {
  background: lightyellow;
  /* font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 5px; */
  color: black;
  border-radius: 1rem;
}

button {
  border: none;
  border-radius: 1rem;
  /* padding: 2rem 3.5rem;
  font-size: 2rem; */
  background: lightgreen;
  cursor: pointer;
}

.list-of-my-words {
  cursor: pointer;
}

.list-of-my-words:hover {
  color: red;
}
.az {
  cursor: pointer;
  font-size: 1rem;
}
#checkbox {
  display: none;
}

#checkbox:checked ~ .az {
  color: lawngreen;
}

.meaning {
  font-size: 1.5rem;
}
