.width-lg {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  /* height: 50vh; */
  background: #222;
  color: white;
  font-size: 2rem;
  font-family: Josefin Sans;
}
header {
  position: absolute;
  width: 100%;
  height: 15rem;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(135deg, #3710bd, #a42395);
  z-index: -10;
}
main {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1rem;
  min-width: 35rem;
}
h1 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
}
/* -------------------------------top section */
.top-section {
  background-color: #25273d;
  height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.top-section > div {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #c8cbe7;
  margin-left: 2rem;
}
.top-section > div > span {
  /* background: lightyellow;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 5px; */
  color: #c8cbe7;
  border-radius: 1rem;
}
.top-section > button {
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #fc0d1b;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 1rem;
}
/* ------------------------------------meaning section */
.meaning {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #222;
  color: white;
  min-height: 5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
/* ------------------------------- word list section */
.word-list {
  margin-top: 1rem;
  background-color: #25273d;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.word-list > h2 {
  text-align: center;
  font-size: 2rem;
}
.word-list > p {
  text-align: center;
  font-size: 1rem;
  margin-top: 0px;
}
.word-list > .my-words > div {
  color: #c8cbe7;
  border-bottom: 1px solid #c8cbe7;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}
.list-of-my-words {
  cursor: pointer;
}

.list-of-my-words:hover {
  color: red;
}
.az {
  max-width: 10rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

#checkbox {
  display: none;
}
#checkbox:checked ~ .az {
  color: lawngreen;
}
.my-words {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  background-color: #494c6b;
}
